<app-header></app-header>
<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex flex-column">
          <img class="img-fluid rounded w-75 align-self-end" src="/assets/img/about-1.jpg" alt="">
          <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="/assets/img/about-2.jpg" alt=""
               style="margin-top: -25%;">
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <p class="d-inline-block border rounded-pill py-1 px-4">Về chúng tôi</p>
        <h1 class="mb-4">Tại sao bạn nên tin tưởng chúng tôi? Tìm hiểu về chúng tôi!</h1>
        <p>DentalCare được bác sĩ Jean-Marcel Guillon thành lập vào năm 2003 với nhóm bác sĩ người Pháp có chung tầm
          nhìn đưa dịch vụ chăm sóc sức khỏe đẳng cấp thế giới vào Việt Nam. Tọa lạc tại Quận 7 đang phát triển của
          Thành phố Hồ Chí Minh, DentalCare đã phát triển thành một nhà cung cấp dịch vụ trọn gói, toàn diện về chất
          lượng chăm
          sóc cho người dân địa phương trong và xung quanh Thành phố Hồ Chí Minh.</p>
        <p class="mb-4">Với hơn 1.300 nhân viên phục vụ, trong đó có 236 bác sĩ Việt Nam và nước ngoài, DentalCare cung
          cấp dịch
          vụ chăm sóc trên hơn 30 chuyên khoa y tế tại bệnh viện trung tâm 220 giường. Nó cũng điều hành một phòng khám
          ngoại trú ở trung tâm Quận 1, khu kinh doanh truyền thống của Thành phố Hồ Chí Minh. Ngoài việc phục vụ cho
          người dân Việt Nam tại địa phương, DentalCare còn tiếp nhận bệnh nhân từ các nước lân cận Campuchia, Lào và
          Myanmar.</p>
        <p><i class="far fa-check-circle text-primary me-3"></i>Chăm sóc sức khỏe chất lượng</p>
        <p><i class="far fa-check-circle text-primary me-3"></i>Chỉ có bác sĩ có trình độ</p>
        <p><i class="far fa-check-circle text-primary me-3"></i>Chuyên gia nghiên cứu y tế</p>
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="/list-service">Tìm hiểm thêm</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
  <div class="container feature px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="p-lg-5 ps-lg-0">
          <p class="d-inline-block border rounded-pill text-light py-1 px-4">Đặc điểm</p>
          <h1 class="text-white mb-4">Tại sao chọn chúng tôi?</h1>
          <p class="text-white mb-4 pb-2">
            Các chuyên viên giỏi ở các lĩnh vực hỗ trợ cũng được tập hợp để tạo nên các quy trình dịch vụ toàn diện,
            khoa học, hiệu quả. Được xây dựng theo mô hình bệnh viện khách sạn chú trọng đến việc đáp ứng đầy đủ các
            điều kiện cho hoạt động chuyên môn khám chữa bệnh, đồng thời mang lại những trải nghiệm chất lượng cao của
            khách hàng về mặt không gian, cảnh quan, phòng nội trú, nhà hàng…
          </p>
          <div class="row g-4">
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                     style="width: 55px; height: 55px;">
                  <i class="fa fa-user-md text-primary"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">Kinh nghiêm</p>
                  <h5 class="text-white mb-0">Bác sĩ</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                     style="width: 55px; height: 55px;">
                  <i class="fa fa-check text-primary"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">Chất lượng</p>
                  <h5 class="text-white mb-0">Dịch vụ</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                     style="width: 55px; height: 55px;">
                  <i class="fa fa-comment-medical text-primary"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">Tích cực</p>
                  <h5 class="text-white mb-0">Quan tâm</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                     style="width: 55px; height: 55px;">
                  <i class="fa fa-headphones text-primary"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">24 / 7</p>
                  <h5 class="text-white mb-0" > Hỗ trợ</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
        <div class="position-relative h-100">
          <img class="position-absolute img-fluid w-100 h-100" src="/assets/img/feature.jpg" style="object-fit: cover;"
               alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End -->


<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <p class="d-inline-block border rounded-pill py-1 px-4">Các bác sĩ hàng đầu của chúng tôi</p>
      <h1>Chuyên gia bác sĩ</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item position-relative rounded overflow-hidden">
          <div class="overflow-hidden">
            <img class="img-fluid" src="/assets/img/team-1.jpg" alt="">
          </div>
          <div class="team-text bg-light text-center p-4">
            <h5>Bs Huỳnh Hà Thúy Hằng</h5>
            <p class="text-primary">Trưởng ban đào tạo Nha Khoa</p>
            <div class="team-social text-center">
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item position-relative rounded overflow-hidden">
          <div class="overflow-hidden">
            <img class="img-fluid" src="/assets/img/team-2.jpg" alt="">
          </div>
          <div class="team-text bg-light text-center p-4">
            <h5>Bác sĩ Nguyễn Hữu Nam</h5>
            <p class="text-primary">Giám đốc Bệnh viện KimHospital</p>
            <div class="team-social text-center">
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item position-relative rounded overflow-hidden">
          <div class="overflow-hidden">
            <img class="img-fluid" src="/assets/img/team-3.jpg" alt="">
          </div>
          <div class="team-text bg-light text-center p-4">
            <h5>Bs Huỳnh Ngọc Dung Hiền</h5>
            <p class="text-primary">Bác sĩ Chuyên khoa I chuyên ngành Răng-Hàm-Mặt</p>
            <div class="team-social text-center">
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item position-relative rounded overflow-hidden">
          <div class="overflow-hidden">
            <img class="img-fluid" src="/assets/img/team-4.jpg" alt="">
          </div>
          <div class="team-text bg-light text-center p-4">
            <h5>Bs Lâm Vĩnh Phúc</h5>
            <p class="text-primary">Trưởng Ban Implant của Hệ thống Nha Khoa Kim</p>
            <div class="team-social text-center">
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square" href="javascript:;"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
<app-footer></app-footer>
