<!-- Topbar Start -->
<app-topbar></app-topbar>
<!-- Topbar End -->


<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<router-outlet></router-outlet>

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h5 class="text-light mb-4">Địa chỉ</h5>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Điện Biên Phủ, Bình Thạnh, TP HCM</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>healthcare@example.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social rounded-circle" href="javascript:;"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social rounded-circle" href="javascript:;"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social rounded-circle" href="javascript:;"><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social rounded-circle" href="javascript:;"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-light mb-4">Services</h5>
        <a class="btn btn-link" href="javascript:;">Cardiology</a>
        <a class="btn btn-link" href="javascript:;">Pulmonary</a>
        <a class="btn btn-link" href="javascript:;">Neurology</a>
        <a class="btn btn-link" href="javascript:;">Orthopedics</a>
        <a class="btn btn-link" href="javascript:;">Laboratory</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-light mb-4">Quick Links</h5>
        <a class="btn btn-link" href="javascript:;">About Us</a>
        <a class="btn btn-link" href="javascript:;">Contact Us</a>
        <a class="btn btn-link" href="javascript:;">Our Services</a>
        <a class="btn btn-link" href="javascript:;">Terms & Condition</a>
        <a class="btn btn-link" href="javascript:;">Support</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-light mb-4">Góp ý</h5>
        <p>Nếu có thắc mắc hãy liên hệ vơi chúng tôi.</p>
        <div class="position-relative mx-auto" style="max-width: 400px;">
          <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
          <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Gửi</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="javascript:;">DentalCare</a>, All Right Reserved.
        </div>
        <div class="col-md-6 text-center text-md-end">
          <a class="border-bottom" href="javascript:;">HIU</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="javascript:;" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
  class="bi bi-arrow-up"></i></a>
