.profile {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

.border-right {
  border-right: solid 1px #BA68C8
}

.switch {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 3rem;
  justify-self: center;
}

.switch input {
  display: none;
}

.switch__1,
.switch__2 {
  width: 6rem;
}

.switch__1 label,
.switch__2 label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
  -.2rem -.2rem .5rem var(--white);
  background: rgba(255, 255, 255, 0);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}

.switch__1 label::after,
.switch__2 label::after {
  content: "";
  position: absolute;
  left: .4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--greyDark);
  transition: all .4s ease;
}

.switch__1 label::before,
.switch__2 label::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
  opacity: 0;
  transition: all .4s ease;
}

.switch input:checked ~ .switch__1 label::before,
.switch input:checked ~ .switch__2 label::before {
  opacity: 1;
}

.switch input:checked ~ .switch__1 label::after,
.switch input:checked ~ .switch__2 label::after {
  left: 57%;
  background: var(--greyLight-1);
}
