
<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <p class="d-inline-block border rounded-pill py-1 px-4">Đánh giá</p>
      <h1>Bệnh nhân của chúng tôi nói gì!</h1>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item text-center">
        <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="/assets/img/testimonial-1.jpg"
             style="width: 100px; height: 100px;">
        <div class="testimonial-text rounded text-center p-4">
          <p>Phòng khám và Bác Sĩ rất tậm tâm và chuyên nghiệp.</p>
          <h5 class="mb-1">Nguyễn Văn A</h5>
          <span class="fst-italic">Chuyên gia</span>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="/assets/img/testimonial-2.jpg"
             style="width: 100px; height: 100px;">
        <div class="testimonial-text rounded text-center p-4">
          <p>Phòng khám rất đẹp ,sạch sẽ bs rất dễ thương nhiệt tình, làm răng cho cả gia đình mình rất ưng ý..</p>
          <h5 class="mb-1">Trần Văn C</h5>
          <span class="fst-italic">Giảng viên</span>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="/assets/img/testimonial-3.jpg"
             style="width: 100px; height: 100px;">
        <div class="testimonial-text rounded text-center p-4">
          <p>Bs tư vấn chi tiết và tay nghề ổn lắm. Sau khi mình về còn được gọi điện hỏi thăm nữa..</p>
          <h5 class="mb-1">Nguyễn Văn Thái</h5>
          <span class="fst-italic">Công nhân</span>
        </div>
      </div>
    </div>
  </div>
</div>
